<% @recipes.each do |recipe| %>
  <div class="row">
    <div>
      <h2> Recipe <%= recipe.id %> </h2>
      <%= link_to "Delete", user_recipe_path(user_id: current_user.id, id: recipe.id), class: "btn btn-outline-danger", "data-turbo-method": :delete %>
    </div>
    <p> <%= recipe.description %> </p>
  </div>
<% end %>

<%= link_to "Create", new_user_recipe_path(user_id: current_user.id), class: "btn btn-outline-success" %>